.button{
    color: #41444B;
    padding: 24px 48px;
    background-color: #FDDB3A;
    border: 1px solid #D4BE54;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;

    &:hover{
        background-color: #caa500;
    }

    @media (max-width: 1100px) {
        padding: 16px 32px;
        font-size: 18px;
    }
    
    @media (max-width: 640px) {
        padding: 12px 20px;
        font-size: 16px;
    }
}