


.why_choose_us {
  background-image: url(/whywe.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 5px 100px 5px;
}



.wrap {
  h1 {
    font-size: clamp(1.5rem, 0.727rem + 3.86vw, 3.625rem);
    font-weight: 700;
    text-align: center;
  }

  h4 {
    color: #959697;
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
    font-weight: 400;
    text-align: center;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 40px;
  gap: 20px;

  @media (max-width: 1340px) {
    flex-wrap: wrap;
}
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  background-color: #222; // можно задать базовый фон, если требуется
  padding: 40px 30px 50px 30px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
  border: 1px solid #414345;
  max-width: 500px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 17px;

  h3 {
    color: #d4be54;
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
  }

  p {
    color: #959697;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  }

  // Применяем анимацию к карточке
  animation: float 3s ease-in-out infinite;

  img {
    width: 60px; // подберите размер по необходимости
    height: 60px;
    transition: filter 0.3s ease;
    margin-bottom: 10px;
  }

  h3 {
    margin: 10px 0 5px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
  }

  &:hover {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
    border: 1px solid #959697;
  }
}

/* Задержка анимации для каждой карточки по очереди */
.cards .card:nth-child(1) {
  animation-delay: 0s;
}
.cards .card:nth-child(2) {
  animation-delay: 0.3s;
}
.cards .card:nth-child(3) {
  animation-delay: 0.6s;
}
